body {
  padding: 0;
  margin: 0;
}

html{
  margin:0;
  height:100%;
  width:100%;
  min-height: 100%;
}

img{
  height: auto;
  width: 1000px;
  margin: 0 auto;
}

#searchForm {
  margin-right: 100px;
}
@media (max-width: 1200px) {
  #searchForm {
    display: none;
  }
}
